<!--  
    檔名：game.html
    功能：展示拼字遊戲的題目頁面，讓使用者輸入答案。
 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Score</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
  </head>

  <body>
    <header class="pt-5">
      <div class="container pt-4 pt-xl-5">
        <div class="row pt-5">
          <div class="col-md-8 text-center text-md-start mx-auto">
            <div class="text-center">
              <!-- 標題 -->
              <h1 class="display-4 fw-bold mb-5">
                <span style="color: rgb(0, 114, 198);">S</span><span style="color: rgb(0, 163, 221);">pelling</span><span style="color: rgb(0, 0, 0);"></span><span style="color: rgb(0, 114, 198);">G</span><span style="color: rgb(0, 163, 221);">ame</span><br />&nbsp;
                <!-- 題號 --><span style="color: rgb(0, 0, 0);">Question:</span>&nbsp;<span class="underline">{{ question }}</span>.
              </h1>
              <!-- 題目（打散的單字） -->
              <p class="fs-5 text-muted mb-5">
                <span style="color: rgb(102, 109, 112);">Unscrambled Word:</span><br /><strong>{{ shuffled_word }}</strong><br />
              </p>
              <!-- 輸入框&送出按鈕 -->
              <form class="d-flex justify-content-center flex-wrap" method="POST" action="/game">
                <div class="shadow-lg mb-3">
                  <input class="form-control" name="word" placeholder="Enter the word" autofocus autocomplete="off" />
                </div>
                <div class="shadow-lg mb-3">
                  <button class="btn btn-primary" type="submit" style="background: var(--bs-blue);border-color: var(--bs-blue);">Submit</button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-12 col-lg-10 mx-auto">
            <div class="text-center position-relative"></div>
          </div>
        </div>
      </div>
    </header>
    <!-- 此處由 Bootstrap 產生 -->
    <script src="js/main.js"></script>
  </body>
</html>
