<!-- 
    檔名：index.html
    功能：學生與教師進入功能選單。
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Welcome</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1 class="display-4 fw-bold mb-5"><span style="color: rgb(0, 114, 198);">S</span><span
        style="color: rgb(0, 163, 221);">pelling</span><span style="color: rgb(0, 0, 0);"> </span><span
        style="color: rgb(0, 114, 198);">G</span><span style="color: rgb(0, 163, 221);">ame</span></h1>
    <form method="POST" style="padding-top: 15px;">
        <!-- 學生使用按鈕 -->
        <button name="student_login" class="btn btn-primary fs-5 me-2 py-2 px-4" data-bss-hover-animate="pulse" type="submit"
            style="background: linear-gradient(-45deg, var(--bs-blue), #005bbf 98%), var(--bs-blue);border-color: var(--bs-blue);">Student Login</button>
    </form>
    <form method="POST" style="padding-top: 15px;">
        <!-- 教師登入按鈕 -->
        <button name="teacher_login" class="btn btn-primary fs-5 me-2 py-2 px-4" data-bss-hover-animate="pulse" type="submit"
            style="background: linear-gradient(-45deg, var(--bs-blue), #005bbf 98%), var(--bs-blue);border-color: var(--bs-blue);">Teacher Login</button>
    </form>
</body>

</html>