<!--          
    檔名：login.html
    功能：教師登入頁面。
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
  </head>
  <body>
    <script src="js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <div class="d-block modal modal-sheet p-4 position-static py-md-5" tabindex="-1" role="dialog" id="modalTour">
      <div role="document" class="modal-dialog">
        <div class="modal-content rounded-4 shadow bg-light">
          <small class="text-body-secondary" style="font-size: 22px;">
            <div class="modal-body p-3">
              <h4>
                <span>Info:</span>{% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <ul class="messages">
                      {% for message in messages %}
                        <li>{{ message }}</li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                {% endwith %}
              </h4>
            </div>
          </small>
        </div>
      </div>
      <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
          <div class="modal-body p-5">
            <h1 class="fw-bold mb-4" style="font-size: 48px;"><span>Loing</span><br /></h1>
          </div>
          <div class="modal-body p-5 pt-2">
            <form method="POST" action="/login">
              <div class="form-floating mb-4">
                <input name="username" type="text" class="form-control rounded-3" id="username" placeholder="Username" required />
                <label for="username">ID:</label>
              </div>
              <div class="form-floating mb-3">
                <input name="password" type="password" class="form-control rounded-3" id="floatingPassword" placeholder="Password" required />
                <label for="password">Password:</label>
              </div>
              <input class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit" value="Login" />
            </form>
            <hr class="my-4" /> <small class="text-body-secondary" style="font-size: 22px;">Don&apos;t have an account yet?<br />Please&nbsp;<a href="{{ url_for('register') }}">Register</a></small>
            <button onclick="location.href='{{ back_url }}'" class="w-100 py-2 mb-2 btn btn-outline-primary rounded-3 mt-4" type="submit">Return to the Homepage</button>
          </div>
        </div>
        <div role="document" class="modal-dialog"></div>
      </div>
    </div>
  </body>
</html>
