<!-- 
    檔名：register.html
    功能：教師註冊頁面。
-->
<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <form method="POST" action="/register">
        <label for="username">ID:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <input type="submit" value="Register">
    </form>
    <a href="{{ login_url }}">Return to Login</a>
    <a href="{{ back_url }}">Return to the Homepage</a>
</body>
</html>