<!DOCTYPE html>
<html>
<head>
    <title>Spelling Game - Welcome</title>
    <style>
        /* 在這裡放置你的 CSS 樣式 */
    </style>
</head>
<body>
    <h1>Spelling Game</h1>
    <h2>This is an English spelling quiz.<br>
        You need to spell the correct words based on the scrambled fruit English vocabulary.<br>
        You can enter in either uppercase or lowercase, <br>
        but please make sure you enter in half-width letters. <br>
        There are a total of ten questions, <br>
        and if you answer more than six correctly, you pass. <br>
        Click the "Start!" button to begin the game.</h2>
    <form method="POST">
        <button type="submit">Start!</button>
    </form>    
</body>
</html>